button::before{
    border-bottom: 0;
    top: -10%;
}
button::after {
    border-top: 0;
    bottom: -10%;
}
button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 110%;
    background-color: rgb(15, 25, 35);
    transform: translateX(-105%) skew(-10deg);
    transition: 0.4s ease;
}
button:hover span {
    transform: translateX(-5%) skew(-10deg);
}